
body, html {
    margin: 0;
    padding: 0;
}

div.hero {
    width: 100%;
    height: 350px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.25), transparent), url("./resources/img/patron-1.svg");
    background-repeat: repeat;
    background-size: 100px;
}

:root {
    font-size: 62.5%;
    --gray-black-21: #212121;
    --gray-black-20: #212429;
    --gray-soft: #616161;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 6rem;
    line-height: 70.3px;
    margin-block-start: 60px;
    margin-block-end: 16px;
}
.section-content h3::before {
    content: counter(titleList)". ";
}
.section-content h3 {
    counter-increment: titleList;
    font-size: 2.4rem;
    padding-block-end: 8px;
}
.section-content h3::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 80px;
    background-color: var(--gray-black-20);
}
h2 {
    font-size: 3.2rem;
}
h4{
    font-size: 1.4rem;
    font-weight: 400;
}
p {
    font-size: 1.6rem;
    line-height: 24px;
    margin-block-start: 16px;
    margin-block-end: 40px;
}

header {
    max-inline-size: 188px;
    position: absolute;
    left: -232px;
    top: 64px;
}
details ol li{
    margin-block: 16px;
}

details ol li a{
    text-decoration: none;
    color: inherit;
}
details{
    color: var(--gray-soft);
    font-size: 1.4rem;
}
details summary{
    font-weight: bold;
}
hr{
    margin-block: 64px;
}
.header-content {
    position: relative;
}
main {
    inline-size: 100%;
    position: relative;
}

.wrapper {
    max-width: 902px;
    margin: 0 auto;
}

.layout-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
}



.section-content {
    counter-reset: titleList;
}





/*


- 1 Posicionamiento
- 2 Modelo de caja
- 3 Tipografia
- 4 visuales
- 5 otros
*/